{% extends 'base.html' %}
{% block title %}Minha Conta{% endblock %}
{% block content %}
    <div class="container">
        <form method="POST" action="{% url 'my_account' %}">
            {% csrf_token %}
            <h1 class="text-center">Minha Conta</h1>
            <div class="mb-3">
              <label for="InputFirstName" class="form-label">Primeiro nome</label>
              <input name="first_name" type="text" class="form-control" id="InputFirstName" value="{{request.user.first_name}}">
            </div>
            <div class="mb-3">
              <label for="InputSurname" class="form-label">Sobrenome</label>
              <input name="surname" type="text" class="form-control" id="InputSurname" value="{{request.user.surname}}">
            </div>
            <div class="mb-3">
              <label for="InputEmail" class="form-label">E-mail</label>
              <input name="email" type="text" class="form-control" id="InputSurname" value="{{request.user.email}}">
            </div>
            <div class="mb-3">
              <label for="InputDateBirth" class="form-label">Data de Nascimento</label>
              <input name="date_of_birth" type="date" class="form-control" id="InputSurname" value="{{request.user.date_of_birth|date:'Y-m-d'}}">
            </div>
            {% for gender in genders %}
            <div class="form-check">
              <input value="{{ gender }}" class="form-check-input" type="radio" name="gender" id="radioDefault{{ forloop.counter }}" {% if gender == request.user.gender %}checked{% endif %}>
              <label class="form-check-label" for="radioDefault{{ forloop.counter }}">
                {{gender}}
              </label>
            </div>
            {% endfor %}
            <div class="mb-3">
              <label for="InputPassword" class="form-label">Senha</label>
              <input name="password" type="password" class="form-control" id="InputPassword" placeholder="*************">
            </div>
            <div class="mb-3">
              <label for="InputConfirmPassword" class="form-label">Confirmação de senha</label>
              <input name="confirm_password" type="password" class="form-control" id="InputConfirmPassword" placeholder="*************">
            </div>
            <button type="submit" class="btn btn-primary mb-3 mt-3">Salvar alterações</button>
            {% if messages %}
              {% for message in messages %}
              <div class="alert {{ message.tags }}" role="alert">
                {{ message }}
              </div>              
              {% endfor %}
            {% endif %}
          </form>
    </div>
{% endblock %}